*{
  margin:0;
  padding: 0;

}

button {
  color: black;
}

.blue {background-color: #008CBA;} /* Blue */
.red {background-color: #f44336;} /* Red */ 
.black {background-color: black;} /* Gray */ 
.gray {background-color: #555555;} /* Black */

a
{
  text-decoration: none;
}

body.dark 
{
  background-color: #23272f;
}
body
{
  background-color: white;
}

body.dark h1,
body.dark h2,
body.dark label,
body.dark a,
body.dark #counterLab4
{
  color: white;
}

body h1,
body h2,
body label,
body a,
body #counterLab4
{
  color: black;
}
